
<div data-role="navbar">
	<ul>
		<li><a href="/" data-icon="home" data-ajax="false"></a></li>
		<li><a href="@Url.Action("Teams", "Yahoo", new RouteValueDictionary(new { leagueId = ViewBag.LeagueId }))" data-icon="user" data-ajax="false"></a></li>
		<li><a href="@Url.Action("WaiverWire", "Yahoo", new RouteValueDictionary(new { leagueId = ViewBag.LeagueId }))" data-icon="bullets" data-ajax="false"></a></li>
		<li><a href="@Url.Action("WeeklyRankingsPPR", "Yahoo", new RouteValueDictionary(new { leagueId = ViewBag.LeagueId }))" data-icon="comment" data-ajax="false"></a></li>
		<li><a href="@Url.Action("Transactions", "Yahoo", new RouteValueDictionary(new { leagueId = ViewBag.LeagueId }))" data-icon="info" data-ajax="false"></a></li>
	</ul>
</div><!-- /navbar -->