@charset "utf-8";

/* Team Small Icons */
.teamIcon { width: 40px; height: 30px; border: 0; }

.smIco_fa { background-image: url(/Content/images/icons/teams/40x30/fa.jpg); }

.smIco_pit { background-image: url(/Content/images/icons/teams/40x30/pit.jpg); }
.smIco_cin { background-image: url(/Content/images/icons/teams/40x30/cin.jpg); }
.smIco_bal { background-image: url(/Content/images/icons/teams/40x30/bal.jpg); }
.smIco_cle { background-image: url(/Content/images/icons/teams/40x30/cle.jpg); }

.smIco_ind { background-image: url(/Content/images/icons/teams/40x30/ind.jpg); }
.smIco_ten { background-image: url(/Content/images/icons/teams/40x30/ten.jpg); }
.smIco_jac, .smIco_jax { background-image: url(/Content/images/icons/teams/40x30/jac.jpg); }
.smIco_hou { background-image: url(/Content/images/icons/teams/40x30/hou.jpg); }

.smIco_ne { background-image: url(/Content/images/icons/teams/40x30/ne.jpg); }
.smIco_nyj { background-image: url(/Content/images/icons/teams/40x30/nyj.jpg); }
.smIco_mia { background-image: url(/Content/images/icons/teams/40x30/mia.jpg); }
.smIco_buf { background-image: url(/Content/images/icons/teams/40x30/buf.jpg); }

.smIco_sd { background-image: url(/Content/images/icons/teams/40x30/sd.jpg); }
.smIco_oak { background-image: url(/Content/images/icons/teams/40x30/oak.jpg); }
.smIco_den { background-image: url(/Content/images/icons/teams/40x30/den.jpg); }
.smIco_kc { background-image: url(/Content/images/icons/teams/40x30/kc.jpg); }

.smIco_gb { background-image: url(/Content/images/icons/teams/40x30/gb.jpg); }
.smIco_det { background-image: url(/Content/images/icons/teams/40x30/det.jpg); }
.smIco_chi { background-image: url(/Content/images/icons/teams/40x30/chi.jpg); }
.smIco_min { background-image: url(/Content/images/icons/teams/40x30/min.jpg); }

.smIco_tb { background-image: url(/Content/images/icons/teams/40x30/tb.jpg); }
.smIco_no { background-image: url(/Content/images/icons/teams/40x30/no.jpg); }
.smIco_atl { background-image: url(/Content/images/icons/teams/40x30/atl.jpg); }
.smIco_car { background-image: url(/Content/images/icons/teams/40x30/car.jpg); }

.smIco_nyg { background-image: url(/Content/images/icons/teams/40x30/nyg.jpg); }
.smIco_was { background-image: url(/Content/images/icons/teams/40x30/was.jpg); }
.smIco_phi { background-image: url(/Content/images/icons/teams/40x30/phi.jpg); }
.smIco_dal { background-image: url(/Content/images/icons/teams/40x30/dal.jpg); }

.smIco_ari { background-image: url(/Content/images/icons/teams/40x30/ari.jpg); }
.smIco_stl, .smIco_lar { background-image: url(/Content/images/icons/teams/40x30/stl.jpg); }
.smIco_sea { background-image: url(/Content/images/icons/teams/40x30/sea.jpg); }
.smIco_sf { background-image: url(/Content/images/icons/teams/40x30/sf.jpg); }